doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/css/base.css')
    script(type='text/javascript', src='/js/third-party/jquery-1.6.2.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/client.js')
  body
    h1= title
    p Welcome to #{title}


